<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Megatip Ofertas - As Melhores Dicas</title>
    <!--
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/zepto.min.js"></script>
    -->
  </head>
  <body>
    <div class="container-fluid">
    
      <ul>
        <li><a href="/campanhas">Campanhas</a></li>
        
        <li><a href="/ciclo">Novo Ciclo</a></li>
        <li><a href="/ciclos">Ciclos</a></li>
        
        <li><a href="/usuario">Novo Usuário</a></li>
        <li><a href="/usuarios">Usuários</a></li>
        
        <li><a href="/usuario/entrar">Entrar</a></li>
      </ul>
      
      <div class="clearfix hero-unit">
      
      <div id="mensagem-callback"></div>