<% include ../header %>

<form action="/ciclo" method="post">
	
	<input type="text" name="ciclo[nome]" placeholder="Nome">
	<input type="text" name="ciclo[inicio]" placeholder="Início">
	<input type="text" name="ciclo[fim]" placeholder="Fim">

	
	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<% include ../footer %>
